h1{
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}
.instruction{
  text-align: center;
  font-size: 40px;
}
.login{
  margin-left: 520px;
}
.logInButton{
  margin-left: 600px;
  text-align: center;
  font-size: 20px;
}
.logInForm{
  font-size: 50px;
  margin-top: 50px;
}

hr{
  width:1200px;
  margin-left: 0px;
}
.title{
  text-align: center;
  font-size: 40px;
}
.homePageLink{
  font-size: 30px;
  margin-left: 200px;
}
.toDoTitle{
  font-size: 15px;
}
.toDoTitleDes{
  font-size: 15px;
}
.addToDoItems{
  margin-left: 200px;
  font-size: 15px;
  margin-top: -100px;
}
.subtitle{
  margin-left: 200px;
  font-size: 30px;
  color: blue:
}
.logout{
  margin-left: 800px;
  font-size: 30px;
  margn-top:-300px;
}
.note{
  font-size: 20px;
  margin-left: 200px;
}
.edit{
  font-size: 20px;
}
.heading{
  font-size: 20px;
}
.delete{
  font-size: 20px;
  margin-left: 100px;
}
.goToHome{
  margin-left: 100px;
  margin-top: -100px;
  font-size: 20px;
}
.backPageLink{
  font-size: 20px;
  margin-left: 0px;
}
.hidden{
  visibility: hidden;
}
